* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 600px) {
    .calculator {
      width: 100%;
      height: 100vh;
      border-radius: 0;
      padding: 5px;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 400px;
    border-radius: 30px;
    margin: auto;
    background-color: black;
    padding: 10px;
    padding-bottom: 50px;
}

.display {
    display: flex;
    flex-direction: column;
    flex: 5;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: flex-end;
}

.inner-display {
    height: 90%;
    width: 95%;
    background-color: #55473A;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
    border-radius: 30px;
    overflow: hidden;
}

.current-display {
    font-size: 60px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
}

.result-display {
    font-size: 60px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding-right: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex: 10;

}

.button {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 90%;
    border-radius: 50%;
    border: none;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    font-size: 40px;
}

.grey {
    color: black;
    background-color: #a8a8a8;
}

.orange {
    color: white;
    background-color: #fc9600;
}

.slate {
    color: white;
    background-color: #343434;
}

.blinking-cursor {
    margin-left: 2px;
}

.blinking-cursor::after {
    content: '|';
    color: #ffffff;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {opacity: 0; }
    50% {opacity: 1; }
}

body {
    visibility: hidden;
}